{% extends '_inc/listPage.html.twig' %}

{% block title %}Modifier Chantier{% endblock %}

{% block back_button %}{{ path('app_chantier') }}{% endblock %}

{% block search %}
    <div class="p-2 col d-flex flex-row-reverse">
        {{ include('chantier/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block list %}
    <h1 class="text-center font-weight-bold" style="font-size: 3em;">Modifier les information du Chantier</h1>

    {{ include('chantier/_form.html.twig') }}
    {% include '_inc/flatpickr.html.twig' %}

{% endblock %}