{% extends '_inc/listPage.html.twig' %}

{% block title %}Nouveau Chantier{% endblock %}

{% block back_button %}{{ path('app_chantier') }}{% endblock %}

{% block list %}
    <h1 class="text-center font-weight-bold" style="font-size: 3em;">Nouveau Chantier</h1>

    {{ include('chantier/_form.html.twig') }}
    {% include '_inc/flatpickr.html.twig' %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
