{% extends '_inc/listPage.html.twig' %}

{% block title %}SAV{% endblock %}

{% block search %}
    {{ render_esi(controller('App\\Controller\\SAVSearchController::index')) }}
{% endblock %}

{% block list %}
    <div class="client-container border rounded container bg-light p-2"></div>
{% endblock %}

{% block content %}
    <button class="btn btn-primary back-to-top"><i class="fa-solid fa-angles-up"></i> Retour en haut</button>
    {% include '_inc/chargementAnimation.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/infiniteScroll.js') }}"></script>
{% endblock %}