{% extends '_inc/listPage.html.twig' %}

{% block title %}SAV{% endblock %}

{% block back_button %}
    {{ path('app_dashboard') }}
{% endblock %}

{% block search %}
    <form method="get" class="d-flex justify-content-end col p-2" id="search-form">
        <div class="">
            <div><input type="text" id="nom" name="nom" placeholder="Recherchez ici" class="form-control search-input mr-sm-2" aria-label="Search" autocomplete="off" spellcheck="false"></div>
        </div>
        <div class="px-2">
            <div><button type="submit" id="submit" name="submit" class="btn btn-outline-secondary">Submit</button></div>
        </div>
    </form>
{% endblock %}

{% block list %}
    <div class="client-container border rounded container bg-light p-2"></div>
{% endblock %}

{% block content %}
    <button class="btn btn-primary back-to-top"><i class="fa-solid fa-angles-up"></i> Retour en haut</button>
    {% include '_inc/chargementAnimation.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('SAV_JS') }}
{% endblock %}