{{ form_start(form, {'attr': {'class': 'row col p-2'}}) }}
    <div class="col">
        {{ form_row(form.nom) }}
    </div>
    <div class="col">
        {{ form_row(form.submit) }}
    </div>
{{ form_end(form) }}