{{ form_start(form, {'attr': {'class': 'row col p-2'}}) }}
    <div class="col">
        {{ form_row(form.commentaire_SAV) }}
    </div>
    <div class="col">
        <button class="btn btn-primary m-2" type="submit"> Envoyer </button>
    </div>
{{ form_end(form) }}