* {
    font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 100px;
}

// -----------------------------BACKGROUNDS-----------------------------------------

.bg-client {
  background-color: #D9D9D9;
}

.bg-comment {
  background-color: #00BEA7;
}

.bg-reply {
  background-color: #0091BE;
}

// -----------------------------RETOUR EN HAUT--------------------------------------

.back-to-top {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 15%;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  animation: jump 1s ease-in-out infinite;
}

.back-to-top:hover {
  animation-play-state: paused;
}

@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.back-to-top.show {
  opacity: 1;
}

// -----------------------------LOADING ANIMATION-----------------------------------

.chargement {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity .3s ease-in;
}

.chargement.affiche {
  opacity: 1;
}

.circle {
  background-color: #777;
  border-radius: 50%;
  margin: 3px;
  height: 10px;
  width: 10px;
  animation: jump 0.5s ease infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}


// --------------------------------- FOOTER-----------------------------------------

footer {
    background-color: #f6f6f6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100%;
  }
  
  .footer-block {
    margin-top: auto;
    width: 33.33%;
    margin-bottom: 20px;
    bottom: 0;
    min-height: 100%;
  }
  
  .footer-block h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-block a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
  }
  
  @media (max-width: 768px) {
    .footer-block {
      width: 100%;
    }
  }
  
  /* center copyright */

  footer .copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  