// personnalistaion des variables Bootstrap
$primary: #B60E0E;
$secondary: #E1B611;
$light: #F6F6F6;

// import de la librairie Bootstrap. Le ~ reference le dossier node_modules
@import "~bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');