<form method="post" action="{{ path('app_status_change_appels', {'id': appel.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir archiver cet élément ?')">
    <input type="hidden" name="_token" value="{{ csrf_token('change_status_' ~ appel.id) }}">
    <button class="btn btn-primary" type="submit"><i class="fa-solid fa-phone"></i> Marquer l'appel <strong>'Terminé'</strong></button>
</form>