{% extends 'base.html.twig' %}
{% block title %}Hello user{% endblock %}

{% block body %}
<h1>
    <ul>
        <p><a href="#" class="text-primary">Primary link</a></p>
        <p><a href="#" class="text-secondary">Secondary link</a></p>
        <p><a href="#" class="text-success">Success link</a></p>
        <p><a href="#" class="text-danger">Danger link</a></p>
        <p><a href="#" class="text-warning">Warning link</a></p>
        <p><a href="#" class="text-info">Info link</a></p>
        <p><a href="#" class="btn text-primary bg-light">Light link</a></p>
        <p><a href="#" class="text-dark">Dark link</a></p>
        <p><a href="#" class="text-muted">Muted link</a></p>
        <p><a href="#" class="text-white bg-dark">White link</a></p>
        <li>{{user.getIDUtilisateur().prenom}}</li>
        <li>{{user.getIDUtilisateur().nom}}</li>
        <li>{{user.getIDUtilisateur().mail}}</li>
    </ul>
</h1>
{% endblock %}
