{% extends 'base.html.twig' %}

{% block title %}Bato - CGU
{% endblock %}

{% block body %}
	<div class="container-lg mt-5 p-5">
		<div class="row justify-content-center">
			<div class="col-md-10 ">
				<div class="card border rounded-5 bg-light">
					<h3 class="card-title align-self-center mt-4 mb-4">
						<strong>Condition Générale d'Utilisation</strong>
					</h3>
					<div class="d-flex card-body flex-column px-5 pb-5">
						<h4 class="fw-bold">1. Introduction</h4>
						<p>Les présentes Conditions Générales d'Utilisation (CGU) régissent l'utilisation du site web BatoWebApp (le "Site") ainsi que l'accès à ses contenus et services. En utilisant le Site, vous acceptez pleinement et sans réserve les présentes CGU. Si vous n'êtes pas d'accord avec l'une de ces conditions, veuillez cesser immédiatement d'utiliser le Site.</p>

						<h4 class="fw-bold">2. Utilisation du Site</h4>
						<h5>2.1 Accès au Site</h5>
						<p>L'accès au Site est autorisé de manière temporaire et nous nous réservons le droit de restreindre, suspendre ou interrompre l'accès au Site, en tout ou en partie, sans préavis.</p>
						<h5>2.2 Utilisation autorisée</h5>
						<p>Vous vous engagez à utiliser le Site conformément aux lois applicables et aux présentes CGU. Vous acceptez de ne pas utiliser le Site d'une manière qui pourrait porter atteinte aux droits de tiers ou perturber son fonctionnement.</p>

						<h4 class="fw-bold">3. Propriété intellectuelle</h4>
						<h5>3.1 Contenu du Site</h5>
						<p>Le contenu du Site, y compris mais sans s'y limiter, les textes, les images, les graphiques, les logos et les vidéos, est protégé par des droits de propriété intellectuelle. Vous vous engagez à ne pas reproduire, distribuer, modifier, afficher ou exploiter de quelque manière que ce soit le contenu du Site sans notre autorisation préalable écrite.</p>
						<h5>3.2 Marques de commerce</h5>
						<p>Toutes les marques de commerce utilisées sur le Site sont la propriété de leurs propriétaires respectifs. Leur utilisation sans autorisation est strictement interdite.</p>

						<h4 class="fw-bold">4. Limitation de responsabilité</h4>
						<h5>4.1 Exclusion de garantie</h5>
						<p>Nous ne fournissons aucune garantie quant à l'exactitude, la fiabilité ou l'exhaustivité du contenu du Site. Vous reconnaissez que l'utilisation du Site est à vos propres risques.</p>
						<h5>4.2 Responsabilité</h5>
						<p>Dans les limites autorisées par la loi, nous déclinons toute responsabilité pour les dommages directs, indirects, spéciaux, consécutifs ou punitifs résultant de l'utilisation ou de l'impossibilité d'utiliser le Site.</p>

					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

