{% extends 'base.html.twig' %}

{% block title %}Bato - CGU{% endblock %}

{% block body %}
<div class="container-lg mt-5 p-5">
	<div class="row justify-content-center">
		<div class="col-md-10 ">
			<div class="card border rounded-5 bg-light">
				<h3 class="card-title align-self-center mt-4 mb-4">
					<strong>Politique RGPD</strong>
				</h3>
				<div class="d-flex card-body flex-column px-5 pb-5">
                <p>
					<h4 class="fw-bold">1. Introduction</h4>
					<p>Cette politique de protection des données à caractère personnel vise à définir les mesures prises par notre entreprise pour assurer la confidentialité, l'intégrité et la sécurité des données personnelles traitées dans le cadre de notre application web métier. Conformément au Règlement général sur la protection des données (RGPD), nous nous engageons à respecter les droits et les obligations liés à la collecte, au traitement et à la conservation des données personnelles.</p>

					<h4 class="fw-bold">2. Collecte et utilisation des données personnelles</h4>
					<p>Nous collectons uniquement les données personnelles nécessaires à l'exécution des tâches professionnelles de nos employés dans le cadre de l'utilisation de l'application web métier. Les données collectées peuvent inclure des informations telles que le nom, l'adresse e-mail, le numéro de téléphone et les données professionnelles spécifiques à chaque employé.</p>

					<h4 class="fw-bold">3. Base légale du traitement des données personnelles</h4>
					<p>Nous traitons les données personnelles de nos employés uniquement sur la base d'un intérêt légitime dans le but de fournir les services et les fonctionnalités de l'application web métier nécessaires à leur activité professionnelle. Les données personnelles collectées ne seront pas utilisées à des fins autres que celles spécifiées dans le cadre professionnel.</p>

					<h4 class="fw-bold">4. Sécurité des données personnelles</h4>
					<p>Nous avons mis en place des mesures de sécurité appropriées pour protéger les données personnelles contre tout accès non autorisé, toute divulgation, toute altération ou toute destruction accidentelle ou illicite. Cela inclut des mesures techniques telles que des pare-feu, des systèmes de détection d'intrusion et des protocoles de cryptage, ainsi que des mesures organisationnelles pour garantir un accès restreint aux données personnelles uniquement aux employés autorisés.</p>

					<h4 class="fw-bold">5. Conservation des données personnelles</h4>
					<p>Les données personnelles collectées via l'application web métier seront conservées pendant la durée nécessaire à l'exécution des tâches professionnelles de nos employés, conformément aux exigences légales et aux politiques de conservation des données de notre entreprise. Une fois que les données personnelles ne sont plus nécessaires, elles seront supprimées de manière sécurisée.</p>

					<h4 class="fw-bold">6. Partage des données personnelles</h4>
					<p>Nous ne partageons pas les données personnelles de nos employés avec des tiers, sauf dans les cas où cela est nécessaire pour la fourniture des services de l'application web métier ou lorsque cela est requis par la loi.</p>

					<h4 class="fw-bold">7. Droits des personnes concernées</h4>
					<p>Nous reconnaissons et respectons les droits des personnes concernées par les données personnelles traitées dans le cadre de l'application web métier, y compris le droit d'accéder, de rectifier, de limiter le traitement, de s'opposer au traitement et de demander la suppression des données personnelles conformément aux dispositions du RGPD.</p>

					<h4 class="fw-bold">8. Contact</h4>
					<p>Pour toute question ou demande concernant la politique de protection des données à caractère personnel, veuillez nous contacter à l'adresse e-mail suivante : privacy@entreprise.com.</p>

					<p>Cette politique de protection des données à caractère personnel est sujette à des révisions périodiques afin de garantir sa conformité continue avec les lois et réglementations applicables en matière de protection des données personnelles.</p>
				</div>
                </p>
                </div>
			</div>
		</div>
	</div>

</div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

