{% extends '_inc/listPage.html.twig' %}

{% block title %}New Calendrier{% endblock %}

{% block back_button %}{{ path('app_calendrier_calendar') }}{% endblock %}

{% block list %}
    <h1>Create new Calendrier</h1>

    {{ include('calendrier/_form.html.twig') }}

    
{% endblock %}
